#forms,
#myfilter {
    margin-top: 43px;
}

.images img {
    width: 80px;
    height: auto;
}

.some h4 {
    font-size: 17px;
    font-weight: 500;
    color: #3C403D;
}

.some p {
    color: black;
    font-size: 13px;
    text-align: inherit;
}

#ktl {
    width: 70px;
    height: auto;
}

.itemu {
    background-color: #A3BCB6;
}

.itemu:hover {
    background-color: #DADED4;
    border: 2px solid #A3BCB6;
    padding: 10px;
    box-shadow: 5px 5px 8px white;
}

#ser {
    padding-top: 50px;
    padding-bottom: 40px;
}

#info {
    background-color: #DCE1E3;
    padding-bottom: 70px;
}

.sect-head h3 {
    color: #01447e;
    text-align: left;
    font-family: 'Noto Sans SC', sans-serif;
    padding-top: 20px;
    font-weight: 300;
    font-size: 17px;
}

.sec-text p {
    color: black;
    text-align: justify;
    font-size: 13px;
}

/*quotes section*/
#quotes {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/backgrounds/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#news {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news:hover {
    background-color: black;
    border: 3px solid red;
}

#news-t {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news-t:hover {
    background-color: black;
    border: 3px solid red;
}

#news-tc {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news-tc:hover {
    background-color: black;
    border: 3px solid red;
}

.card-body h5 {
    color: black;
    font-size: 16px;
}

.card-body h5:hover {
    color: #39603D;
}

.jumbotron {
    margin-top: 50px;
    display: none;
}

.J-head h2 {
    font-weight: 400;
}

.J-body p {
    text-align: left;
    color: black;
}

#mambo {
    padding-bottom: 60px;
}

/*automation*/
#b-DCS,
#b-ES,
#b-OAS {
    display: none;
}

#c-DCS,
#c-ES,
#c-OAS {
    display: none;
}

#ser-DCS,
#ser-ES,
#ser-OAS {
    display: none;
}

#t-DCS,
#t-ES,
#t-OAS {
    display: none;
}

#cl-DCS,
#cl-ES,
#cl-OAS {
    display: none;
}