html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a {
	color: #f35b3f;
	text-decoration: none;
	transition: all .3s;
}

a:hover,
a:focus {
	color: #f35b3f;
	border: 0;
	text-decoration: none;
}

h1,
h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	color: #555;
	line-height: 26px;
}

img {
	max-width: 100%;
}

.medium-paragraph {
	font-size: 18px;
	line-height: 34px;
}

::-moz-selection {
	background: #f35b3f;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #f35b3f;
	color: #fff;
	text-shadow: none;
}

.quote {
	margin-top: 300px;
}

.quote h4 {
	background-color: white;
	color: #000000;
	font-weight: 700;
}

/***** Wrapper *****/

.wrapper {
	display: block;
}


/***** Sidebar *****/

.sidebar {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -255px;
	z-index: 999;
	background-image: url(../img/backgrounds/14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	transition: all .3s;
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active {
	left: 0;
}

.dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 15px;
	right: 10px;
	transition: all .3s;
	background: #eb1736;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
	background: #3C403D;
	color: #e52636;
}

.sidebar .logo {
	padding: 10px 20px;
	border-bottom: 2px solid #DADED4;
	transition: all .3s;
}

.sidebar .logo img {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.sidebar ul.menu-elements {
	padding: 10px 0;
	border-bottom: 1px solid #DADED4;
	transition: all .3s;
}

.sidebar ul li a {
	display: block;
	padding: 10px 20px;
	border: 0;
	color: black;
	font-weight: 300;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
	outline: 0;
	background: #DADED4;
	color: #3C403D;
}

.sidebar ul li a i {
	margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
	background: #DADED4;
	color: #fff;
}

.sidebar ul ul a {
	background-color: #1C2833;
	color: white;
	padding-left: 30px;
	font-size: 14px;
}

.sidebar ul ul li.active>a {
	background: red;
}

.sidebar a[data-toggle="collapse"] {
	position: relative;
}

.sidebar .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.logs img {
	right: 15px;
	position: fixed;
	z-index: 997;
	top: 20px;
	width: 100px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.logs img {
		right: 15px;
		z-index: 997;
		width: 80px;
		position: fixed;
	}
}

.sidebar .dark-light-buttons {
	padding: 10px 20px 30px 20px;
	text-align: center;
}


/***** Dark overlay *****/

.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(51, 51, 51, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.overlay.active {
	display: block;
	opacity: 1;
}


/***** Content *****/

.content {
	width: 100%;
	transition: all 0.3s;
}

.open-menu {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 997;
	box-shadow: 3px 3px 3px red;
}
#hey{
	font-weight: 400;
	font-size: 20px;
}
#headers {
	color: black;
	font-family: 'Source Serif Pro', serif;
	font-weight: 500;
	font-size: 43px;
    padding-bottom: 40px;
    padding-left: 30px;
	text-align:center;

}
.hs h3{
    color: #ac5f5f;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: left;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#headers {
		font-size: 28px;
		font-weight: 800;
	}
	#chain {
		display: none;
	}
}

#heads {
	color: red;
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.call {
	margin: 10px;
	background-color: #DADED4;
	padding-bottom: 15px;
}

.piga {
	color: red;
}

.cols a {
	margin: 2px;
	padding-left: 30px;
	font-size: 18px;
}

.cols a:hover {
	margin: 2px;
	padding-left: 30px;
	font-size: 18px;
	color: white;
}

#myValid {
	margin: 10px;
	display: none;
}

.hed h4 {
	text-align: center;
	padding-top: 15px;
	color: #202020;
	font-weight: 400;
	cursor: pointer;
}

#callBtn {
	background-color: black;
	border-color: black;
}

#callBtn:hover {
	background-color: red;
	border-color: black;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 13px;
	border-radius: 4px;
}

/***** Buttons *****/

a.btn-customized {
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: red;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: black;
	background: rgb(184, 6, 6);
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-2 {
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: black;
	box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #ccc;
	background: grey;
	border: 0;
	color: white;
	box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: .75rem 1.5rem;
	background: #444;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
	margin-right: 5px;
}


a.btn-customized-4 {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 3px;
	padding: 0;
	background: #444;
	border: 0;
	border-radius: 50%;
	font-size: 16px;
	font-weiwght: 300;
	color: #fff;
	box-shadow: none;
	text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
	background: #222;
}

a.btn-customized-4.btn-customized-light {
	background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

/***** Top content *****/

.top-content {
	width: 100%;
	height: 70vh;
}

.top-content h1 {
	padding-top: 180px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.top-content h1 {
		padding-top: 80px;
	}
}

.top-content .description {
	padding-bottom: 20px;
	background-color: red;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 5px solid white;
}

.top-content .description p {
	color: #f7f7f7;
	padding-top: 20px;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.top-content .description a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.8);
}

.top-content .description a:hover,
.top-content .description a:focus {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}


/***** Section about *****/

#new {
	background-color: red;
	border-radius: 4px;
	border: 1px solid red;
	font-size: 13px;
	padding: 10px;
	margin-right: 80%;
}

#new:hover {
	background-color: black;
	border: 3px solid red;
}

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
	margin-top: 40px;
}

ul.breadcrumb li {
	display: inline;
	font-size: 14px;
	color: rgb(24, 23, 23);
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

ul.breadcrumb li a:hover {
	color: #01447e;
}


/***** Section 3 *****/

@media (max-width: 768px) {
	.carousel-inner .carousel-item>div {
		display: none;
	}

	.carousel-inner .carousel-item>div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

/* section partners */
#partners {
	background-image: url(../img/backgrounds/11.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 60px;
}

@media (min-width: 768px) {

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(33.333%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-33.333%);
	}
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
	transform: translateX(0);
}


.section-3-box {
	margin-top: 30px;
	text-align: left;
}

.section-3-box .section-3-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #f35b3f;
	font-size: 28px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
}

.section-3-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/* footer style*/

.footer {
	padding: 50px 0;
	color: #f7f7f8;
	background-image: linear-gradient(to right top, #2c3e50, #2c3847, #2b323d, #292c34, #26272b, #222325, #1e1e1f, #1a1a1a, #151515, #101010, #080808, #000000);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
	text-align: left;
	font-family: 'Noto Sans SC', sans-serif;
	color: #e52636;
	font-weight: 700;
	text-decoration: none;
}

.footer ol {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
	text-align: left;
}

.footer ol a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;

}

.foot-log img {
	width: 50%;
	height: auto;
	padding-top: 20px;
}

.footer ol a:hover {
	opacity: 0.8;
}

@media (max-width:767px) {
	.footer .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer .item.text {
	margin-bottom: 36px;
}

@media (max-width:767px) {
	.footer .item.text {
		margin-bottom: 0;
	}
}

.footer .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer .item.social {
	text-align: center;
}

@media (max-width:991px) {
	.footer .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer .item.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 0 8px;
	color: #fff;
	opacity: 0.75;
}

.footer .item.social>a:hover {
	opacity: 0.9;
}

.footer .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.3;
	font-size: 13px;
	margin-bottom: 0;
}



#forms,
#myfilter {
    margin-top: 43px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	#filters {
		margin-right: 70%;
	}
    #myfilter{
        margin-top: 20px;
    }
    .itemu{
        margin: 8px;
    }
    #news-t{
        margin-top: 15px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	#filters{
		margin-right: 68%;
		margin-bottom: 15px;
	}
	.itemu{
		margin:17px;
	}
	#news-t{
		margin-top: 15px;
	}
}
.lay1{
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}
.itemu:hover .lay1{
	height: 100%;
	border-radius: 10px;
}
.over-t{
	white-space: normal;
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	top: 10%;
	text-align: inherit;
}
.wah{
	display: block;
	width: 60%;
    height: auto;
	padding: 10px;
	margin-left: 20%;
	padding-top: 20px;
}
.itemu {
    background-color: #A3BCB6;
	position: relative;
	padding-bottom: 20px;
    box-shadow: 5px 5px 8px rgb(109, 27, 27);
	border-radius: 10px;
}
.hs{
    padding-top: 10px;
}
#info {
    background-color: #DCE1E3;
    padding-bottom: 70px;
}

.sect-head h3 {
    color: #01447e;
    text-align: left;
    font-family: 'Noto Sans SC', sans-serif;
    padding-top: 20px;
    font-weight: 300;
    font-size: 17px;
}

.sec-text p {
    color: black;
    text-align: justify;
    font-size: 13px;
}

/*quotes section*/
#quotes {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/backgrounds/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#filters:hover{
    background-color: red;
    border: 1px solid red;
    color: white;
}

#news {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news:hover {
    background-color: black;
    border: 3px solid red;
}

#news-t {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news-t:hover {
    background-color: black;
    border: 3px solid red;
}

#news-tc {
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-size: 13px;
    padding: 15px;

}

#news-tc:hover {
    background-color: black;
    border: 3px solid red;
}

.card-body h5 {
    color: black;
    font-size: 16px;
}

.card-body h5:hover {
    color: #39603D;
}

.jumbotron {
    margin-top: 50px;
    display: none;
}

.J-head h2 {
    font-weight: 400;
}

.J-body p {
    text-align: left;
    color: black;
}

#mambo {
    padding-bottom: 60px;
}

/*automation*/
#b-DCS,
#b-ES,
#b-OAS {
    display: none;
}

#c-DCS,
#c-ES,
#c-OAS {
    display: none;
}

#ser-DCS,
#ser-ES,
#ser-OAS {
    display: none;
	padding-bottom: 30px;
}
#ser{
	padding-bottom: 30px;
}
#t-DCS,
#t-ES,
#t-OAS {
    display: none;
}
.exper{
	background-color: whitesmoke;
	margin: 20px;
}
#cl-DCS,
#cl-ES,
#cl-OAS {
    display: none;
}
.services-text p {
	color: black;
	text-align: justify;
}
#accod {
	background-color: #DCE1E3;
	border-color: #DCE1E3;
}

#accods {
	background-color: #F3F3F3;
	border-color: #DCE1E3;
}
#headingOne p {
	text-align: left;
	color: #B73225;
}
.card-body p {
	text-align:unset;
	font-size: 14px;
}